rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // 'scores' 컬렉션에 대한 규칙
    match /scores/{scoreId} {
      // 모든 사용자는 랭킹을 읽을 수 있습니다.
      allow read: if true;
      // 하지만 아무도 클라이언트에서 직접 랭킹을 쓰거나, 수정하거나, 삭제할 수 없습니다.
      allow write: if false;
    }
  }
}